<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Validation</title>
  </head>
  <body>
    <h1>Email Validation</h1>
    <form method="post" action="{{ url_for('validate_email') }}">
      <label for="email">Enter Email:</label>
      <input type="email" name="email" id="email" required />
      <button type="submit">Validate</button>
    </form>

    

    {% if validation_result %}
    <p>{{ validation_result }}</p>
    <br><br>
    <p><a href="{{ url_for('home_page') }}">Go back to Home</a></p>
    {% endif %}
  </body>
</html>
